* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Open-Sans' serif;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    text-transform: uppercase;
}

/* padded section */

.pad-section {
    padding: 50px 0;
}

.pad-section img {
    width: 100%;
}

/* about me text */

.sign-in {
    margin-top: 0px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.sign-in h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 0;
}

#login {
    margin-top: 200px;
}

#login-button {
    border-radius: 7.25rem;
}

button {
    border-radius: 7.25rem!important;
    width: 160px;
}

#scrape {
    width: 100%
}

.card-container {
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 50px;
}

/* additional sections */

#sign-in {
    background: linear-gradient(45deg, #7be7d7 1%, #7be7d7 40%, #7be7d7 40%, #86a4e3 100%);
    color: black;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card-container {
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 50px;
}

.card {
    padding: 20px;
    border: none;
}

.card-text {
    color: #888888;
    font-family: llxb;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    padding: 5px;
    text-align: center;
    margin: 0;
}

.card-header {
    width: 100%;
    padding: none;
    font-size: 18px;
    text-align: center;
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    text-transform: uppercase;
}

/* header shadow effect */

.card-header {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.card-header:before, .card-header:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}

.card-header:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}

/* card header shadow effect */

.card-img-top {
    max-width: 90%;
    max-height: auto;
    position: relative;
    vertical-align: middle;
    left: 50%;
    transform: translate(-50%);
    /* height: 150px;
    width: 150px; */
    object-fit: cover;
    margin-top: 15px;
    image-rendering: auto;
    -moz-crisp-edges: crisp-edges;
}

/* card image shadow effect */

.card-img-top {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.card-img-top:before, .card-img-top:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}

.card-img-top:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}

#notes {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    text-align: center;
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    text-transform: uppercase;
}

textarea, input {
    display: block;
    width: 100%;
    background-color: lightgrey;
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    text-transform: uppercase;
}

textarea {
    height: 200px;
    font-size: 18px;
}

.nav-div {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* card image shadow effect */

.album-btn {
    margin-top: 5px;
    height: auto;
    width: 100px;
    border-color: #2e82d9!important;
    color: #2e82d9!important;
    transition: all .2s ease;
}

.album-btn:hover {
    color: white!important;
    background: #2e82d9;
    transition: all .2s ease;
}

.review-btn {
    margin-top: 15px;
}

#r-link {
    float: right;
}

#l-link {
    float: left;
}

#social-media-icon {
    height: 20px;
    width: 20px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: unset;
    flex: unset;
}

/* url(../images/bg1.png); */

@media (max-width:400px) {
    #sign-in {
        background: darkslategrey;
        display: table;
        height: 90%;
        position: relative;
        width: 100%;
        margin-top: 76px;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    }
}